In [14]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from src import support as sp



#pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df_flight = pd.read_csv('../Files/Customer Flight Activity.csv')
df_loyalty = pd.read_csv('../Files/Customer Loyalty History.csv')

In [15]:
# REMOVING DUPLICATES IF ANY

df_flight = sp.remove_duplicate_rows(df_flight)

print('--------')

df_loyalty = sp.remove_duplicate_rows(df_loyalty)

There were 405624 rows, and 1864 duplicated rows were deleted.
New row count: 403760 rows
--------
There were 16737 rows, and 0 duplicated rows were deleted.
New row count: 16737 rows

In [16]:
# FLOAT TO INTEGER FLIGHTS

# f_convert_to_int = ['Year']
# df_flight = sp.float_to_integer(df_flight, f_convert_to_int)
# df_flight.dtypes

In [17]:
# FLOAT TO INTEGER LOYALTY

l_convert_to_int = ['Cancellation Year', 'Cancellation Month']


df_loyalty = sp.float_to_integer (df_loyalty, l_convert_to_int)
df_loyalty.dtypes # CONFIRMATION

Loyalty Number          int64
Country                object
Province               object
City                   object
Postal Code            object
Gender                 object
Education              object
Salary                float64
Marital Status         object
Loyalty Card           object
CLV                   float64
Enrollment Type        object
Enrollment Year         int64
Enrollment Month        int64
Cancellation Year       Int64
Cancellation Month      Int64
dtype: object

In [18]:
# REMOVING NEGATIVE VALUES FROM SALARY

df_loyalty['Salary'] = df_loyalty['Salary'].abs()

df_loyalty['Salary'].min() # CONFIRMATION

9081.0

In [19]:
df_loyalty['Salary'].isna().sum()

4238

In [20]:
df_loyalty[df_loyalty['Salary'].isnull()].sample(5)

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
8713,264733,Canada,Quebec,Montreal,H4G 3T4,Male,College,NaN,Single,Nova,10242.41,Standard,2014,4,<NA>,<NA>
14137,778030,Canada,Manitoba,Winnipeg,R6Y 4T5,Female,College,NaN,Single,Star,6227.37,Standard,2014,10,<NA>,<NA>
3289,728386,Canada,Quebec,Quebec City,G1B 3L5,Male,College,NaN,Single,Aurora,11836.30,Standard,2018,10,<NA>,<NA>
5580,219043,Canada,Quebec,Montreal,H2T 9K8,Male,College,NaN,Single,Nova,4031.54,Standard,2012,12,<NA>,<NA>
11180,351551,Canada,Ontario,London,M5B 3E4,Female,College,NaN,Single,Star,4034.93,2018 Promotion,2018,2,<NA>,<NA>

In [21]:
df_loyalty['Salary Scale'] = pd.cut(df_loyalty['Salary'],bins = 3, labels= ['Low', 'Medium', 'High']) # SETTING CATEGORIES TO GROUP AND COMPARE

In [22]:
df = df_flight.merge(df_loyalty, on= 'Loyalty Number', how= 'left')

In [23]:
df.to_csv("../Files/full_data_clean.csv", index=False)
df_flight.to_csv("../Files/flight_clean.csv", index=False)
df_loyalty.to_csv("../Files/loyalty_clean.csv", index=False)